:root {
  --font-size: 16px;
  --spacing: calc(1.1 * var(--font-size));
  --font-body: system-ui;
  --font-headings: Manrope;
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/Manrope.woff2") format("woff2");
}

body {
  font-size: var(--font-size);
  font-family: var(--font-body);
  line-height: 1.6em;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 1.2em 0em var(--spacing) 0em;
}

p,
blockquote,
details,
pre,
ul,
ol {
  margin: 0em 0em var(--spacing) 0em;
}

p:last-child,
blockquote:last-child,
details:last-child pre:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0px;
}

h1 {
  font-size: 2.625em;
  line-height: 1.1em;
  font-family: var(--font-headings);
  text-wrap: pretty;
  font-weight: 800;
  margin: 0em 0em var(--spacing) 0em;
}

h2 {
  font-size: 2.0625em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.625em;
  line-height: 1.2em;
  font-family: var(--font-headings);
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 0.8125em;
}

ol,
ul {
  padding-left: 1.2em;
}

ol li,
ul li {
  margin: calc(var(--spacing) * 0.25) 0em;
}

blockquote {
  padding: var(--spacing);
  background-color: #eeeeee;
  border-radius: 8px;
}

code {
  font-size: 0.9em;
  padding: 0.2em 0.3em;
  background: #eeeeee;
}

pre {
  background: #eeeeee;
  padding: 16px;
  border: solid 1px black;
  text-wrap: wrap;
}

pre code {
  background: none;
  padding: 0em;
}

cite {
  display: block;
}

hr {
  margin: calc(var(--spacing) * 1.5) 0;
}
